<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KindlesGOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KindlesGOL.Properties.Settings>
            <setting name="universeSizeXSetting" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="universeSizeYSetting" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="intervalSetting" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="seedSetting" serializeAs="String">
                <value>31415</value>
            </setting>
            <setting name="cellColorSetting" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="gridColorSetting" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="neighborCountTypeSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="neighborCountEnabledSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewGridSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backColorSetting" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="viewHUDSetting" serializeAs="String">
                <value>True</value>
            </setting>
        </KindlesGOL.Properties.Settings>
    </userSettings>
</configuration>